/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 15px;
  background: #0C84FF84

}
a {
 display: inline-block;
  position: relative;
  margin: 2px;
  border: 0px;
  padding: 5px;
 
  height: 30px;
  font-size: smaller;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  cursor: pointer;
  background: #B58EFD;
  border-radius: 5px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.15);
}
a:hover {
  top: 1px;
  height: 29px;
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.15);
}
a:active {
  top: 4px;
  height: 26px;
  box-shadow: inset 0 -25px rgba(0, 0, 0, 0.15);
}
a.blacktext {
  color: black;
}
a.yellowtext {
  color: yellow;
}
a.redtext {
  color: red;
}
a.limetext {
  color: lime;
}
a.redtopinkbackground {
  background: linear-gradient(#ff4139, #ff7295);
}
a.yellowlimetolimebackground {
  background: linear-gradient(#cfc709, #23de02);
}
a.limetogreenbackground {
  background: linear-gradient(#b2d435, #517829);
}
p {
  height: 30px
 }/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
